{% sw_extends '@Storefront/storefront/layout/breadcrumb.html.twig' %}

{% set comaxxShowHomeBreadcrumb = theme_config('comaxx-show-home-breadcrumbs') %}
{% set comaxxIconStyleClass = theme_config('comaxx-icon-style')|lower %}

{% block layout_breadcrumb_list %}
    <ol class="breadcrumb"
        itemscope
        itemtype="https://schema.org/BreadcrumbList">

        {% set breadcrumb_count = breadcrumbCategories|length %}
        {% set home_breadcrumb_shown = comaxxShowHomeBreadcrumb %}
        {% set total_items = breadcrumb_count + (home_breadcrumb_shown ? 1 : 0) %}
        {% set is_single_item = breadcrumb_count == 1 and home_breadcrumb_shown %}

        {% if home_breadcrumb_shown %}
            <li class="breadcrumb-item is-home"
                itemprop="itemListElement"
                itemscope
                itemtype="https://schema.org/ListItem">
                <a href="{{ path('frontend.home.page') }}"
                   class="breadcrumb-link"
                   title="{{ 'Home'|trans }}"
                   itemprop="item">
                    <link itemprop="url" href="{{ path('frontend.home.page') }}">
                    <span class="breadcrumb-title" itemprop="name">{{ 'Home'|trans }}</span>
                </a>
                <meta itemprop="position" content="1">
            </li>

            {% if breadcrumb_count > 0 %}
                <span class="material-symbols-{{ comaxxIconStyleClass }} {% if is_single_item %}is-last{% endif %}">arrow_forward</span>
            {% endif %}
        {% endif %}

        {% for breadcrumbCategory in breadcrumbCategories %}
            {% set key = breadcrumbCategory.id %}
            {% set name = breadcrumbCategory.translated.name %}
            {% set current_position = loop.index + (home_breadcrumb_shown ? 1 : 0) %}
            {% set is_last = loop.index == breadcrumb_count %}

            {% if not loop.first %}
                <span class="material-symbols-{{ comaxxIconStyleClass }} {% if is_last or is_single_item %}is-last{% endif %}">arrow_forward</span>
            {% endif %}

            <li class="breadcrumb-item"
                {% if key is same as(categoryId) %}aria-current="page"{% endif %}
                itemprop="itemListElement"
                itemscope
                itemtype="https://schema.org/ListItem">
                {% if breadcrumbCategory.type == 'folder' %}
                    <div itemprop="item">
                        <div itemprop="name">{{ name }}</div>
                    </div>
                {% else %}
                    <a href="{{ category_url(breadcrumbCategory) }}"
                       class="breadcrumb-link {% if key is same as(categoryId) %} is-active{% endif %}"
                       title="{{ name }}"
                       {% if category_linknewtab(breadcrumbCategory) %}target="_blank"{% endif %}
                       itemprop="item">
                        <link itemprop="url" href="{{ category_url(breadcrumbCategory) }}">
                        <span class="breadcrumb-title" itemprop="name">{{ name }}</span>
                    </a>
                {% endif %}
                <meta itemprop="position" content="{{ current_position }}">
            </li>
        {% endfor %}
    </ol>
{% endblock %}
