{% set customFields = context.salesChannel.customFields %}

{% set comaxxHeroWidth = customFields.comaxx_hero_width %}
{% set comaxxHeroHeightMobile = customFields.comaxx_hero_height_mobile %}
{% set comaxxHeroHeightDesktop = customFields.comaxx_hero_height_desktop %}
{% set comaxxHeroContent = customFields.comaxx_hero_content %}
{% set comaxxHeroMediaMobile = customFields.comaxx_hero_media_mobile %}
{% set comaxxHeroMediaDesktop = customFields.comaxx_hero_media_desktop %}
{% set comaxxHeroPaddingMobile = customFields.comaxx_hero_padding_mobile %}
{% set comaxxHeroPaddingDesktop = customFields.comaxx_hero_padding_desktop %}
{% set comaxxHeroContentWidth = customFields.comaxx_hero_content_width_desktop %}
{% set comaxxHeroCustomClass = customFields.comaxx_hero_custom_class %}

{% set comaxxTopbarBackgroundColor = customFields.comaxx_hero_header_topbar_background_color %}
{% set comaxxTopbarTextColor = customFields.comaxx_hero_header_topbar_text_color %}
{% set comaxxTopbarIconColor = customFields.comaxx_hero_header_topbar_icon_color %}
{% set comaxxHeaderBackgroundColor = customFields.comaxx_hero_header_background_color %}
{% set comaxxHeaderActionIconColor = customFields.comaxx_hero_header_action_icon_color %}
{% set comaxxNavBackgroundColor = customFields.comaxx_hero_header_nav_background_color %}
{% set comaxxNavLinkColor = customFields.comaxx_hero_header_nav_link_color %}
{% set comaxxNavLinkBgColor = customFields.comaxx_hero_header_nav_link_background_color %}
{% set comaxxNavActiveLinkColor = customFields.comaxx_hero_header_nav_active_link_color %}
{% set comaxxNavActiveBgColor = customFields.comaxx_hero_header_nav_active_background_color %}
{% set comaxxHeaderSearchInputBg = customFields.comaxx_hero_header_search_input_background_color %}

{% set heroMobileMediaId = comaxxHeroMediaMobile %}
{% if heroMobileMediaId is not empty %}
    {% set mediaCollection = searchMedia([heroMobileMediaId], context.context) %}
    {% set heroMobileMedia = mediaCollection.get(heroMobileMediaId) %}
{% else %}
    {% set heroMobileMedia = null %}
{% endif %}

{% set heroDesktopMediaId = comaxxHeroMediaDesktop %}
{% if heroDesktopMediaId is not empty %}
    {% set mediaCollection = searchMedia([heroDesktopMediaId], context.context) %}
    {% set heroDesktopMedia = mediaCollection.get(heroDesktopMediaId) %}
{% else %}
    {% set heroDesktopMedia = null %}
{% endif %}

<div class="hero-section {{ comaxxHeroWidth }}"
    data-has-hero
    style="
        --hero-height-mobile: {{ comaxxHeroHeightMobile|default('60vh') }};
        --hero-height-desktop: {{ comaxxHeroHeightDesktop|default(
        '50vh'
    ) }};
        --hero-header-topbar-bg: {{ comaxxTopbarBackgroundColor|default('transparent') }};
        --hero-header-topbar-text: {{ comaxxTopbarTextColor|default(
        '#fff'
    ) }};
        --hero-header-topbar-icon: {{ comaxxTopbarIconColor|default('#fff') }};
        --hero-header-bg: {{ comaxxHeaderBackgroundColor|default(
        'transparent'
    ) }};
        --hero-header-action-icon: {{ comaxxHeaderActionIconColor|default('#fff') }};
        --hero-nav-bg: {{ comaxxNavBackgroundColor|default(
        'transparent'
    ) }};
        --hero-nav-link-color: {{ comaxxNavLinkColor|default('#fff') }};
        --hero-nav-link-bg: {{ comaxxNavLinkBgColor|default(
        'transparent'
    ) }};
        --hero-nav-link-active: {{ comaxxNavActiveLinkColor|default('#fff') }};
        --hero-nav-link-active-bg: {{ comaxxNavActiveBgColor|default('transparent') }};
    ">
    <div class="hero-section-inner"
        style="
        --hero-padding-mobile: {{ comaxxHeroPaddingMobile|default('0px') }};
        --hero-padding-desktop: {{ comaxxHeroPaddingDesktop|default(
            '0px'
        ) }};
        --hero-image-mobile: url('{{ heroMobileMedia.url|default('') }}');
        --hero-image-desktop: url('{{ heroDesktopMedia.url|default(
            ''
        ) }}');
        --hero-content-width-desktop: {{ comaxxHeroContentWidth|default('100%') }};
    ">
        <div class="{{ comaxxHeroWidth == 'full' ? 'container-fluid' : comaxxHeroWidth == 'full-container' ? 'container' : '' }}">
            <div class="hero-content"
                data-base-padding="{{ comaxxHeroPaddingDesktop
                    |default('0px')
                    |replace({
                        px: ''
                    }) }}">
                {{ comaxxHeroContent|raw }}
            </div>
        </div>
    </div>
</div>
