{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
	{% block component_product_downloads_container %}
		<div class="product-detail-downloads tab-pane-container">
			{% block component_product_downloads_title %}
				<h2 class="product-detail-downloads-title">
					{{ 'comaxx.product.detail.downloadsTitle'|trans|sw_sanitize }}
				</h2>
			{% endblock %}

			{% block component_product_downloads_content %}
				{% block component_product_downloads_content_text %}
					{% set customFields = product.translated.customFields %}
					<div class="product-detail-downloads-text" itemprop="downloads">
						{% if customFields is not empty %}
							{% for i in range(1, 3) %}
								{% set fileKey = 'comaxx_product_downloads_' ~ i ~ '_file' %}
								{% set nameKey = 'comaxx_product_downloads_' ~ i ~ '_name' %}

								{% set mediaId = customFields[fileKey] %}
								{% set mediaTitle = customFields[nameKey] %}

								{% if mediaId %}
									{% set mediaCollection = searchMedia([mediaId], context.context) %}
									{% set media = mediaCollection.get(mediaId) %}

									{% if media %}
										<div class="download-row">
											{% set extension = media.fileExtension|lower %}

											{% if extension == 'pdf' %}
												<span class="material-symbols-{{ comaxxIconStyleClass }} download-icon">picture_as_pdf</span>
											{% elseif extension in ['jpg', 'jpeg', 'png', 'gif', 'webp'] %}
												<span class="material-symbols-{{ comaxxIconStyleClass }} download-icon">image</span>
											{% else %}
												<span class="material-symbols-{{ comaxxIconStyleClass }} download-icon">attach_file</span>
											{% endif %}

											<a href="{{ media.url }}" download target="_blank" rel="noopener" class="download-link">
												{{ mediaTitle|default(media.fileName) }}
											</a>
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				{% endblock %}
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}
