{% sw_extends '@Storefront/storefront/component/listing/filter/filter-range.html.twig' %}

{% set priceExpanded = theme_config('comaxx-expand-price-filter') %}

{% set pageHasSidebar = isInSidebar %}

{% set isExpanded = (priceExpanded == '1') and pageHasSidebar %}

{% block component_filter_range_toggle %}
	<button class="filter-panel-item-toggle btn"
        aria-expanded="{{ isExpanded ? 'true' : 'false' }}"
        {% if ariaLabel %}
        aria-label="{{ ariaLabel }}"
        {% endif %}
        {% if sidebar %}
        data-bs-toggle="collapse"
        data-bs-target="#{{ filterItemId }}"
        {% else %}
        data-bs-toggle="dropdown"
        data-boundary="viewport"
        data-bs-offset="0,8"
        aria-haspopup="true"
        {% endif %}>

        {% block component_filter_range_display_name %}
            {{ parent() }}
        {% endblock %}

        {% block component_filter_range_toggle_icon %}
            {{ parent() }}
        {% endblock %}
	</button>
{% endblock %}

{% block component_filter_range_dropdown %}
    <div class="filter-range-dropdown filter-panel-item-dropdown{% if sidebar %} collapse{% else %} dropdown-menu{% endif %}{% if isExpanded %} show{% endif %}" id="{{ filterItemId }}">
		{% block component_filter_range_container %}
			{{ parent() }}
		{% endblock %}
	</div>
{% endblock %}