{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}

{% set comaxxCheckoutRegisterToggle = theme_config('comaxx-show-register-toggle') %}

{% block component_account_register_header %}
	{% if cardTitle %}
		<div class="card-title">
			{{ cardTitle }}
		</div>
	{% endif %}
{% endblock %}

{% block component_account_register_form %}
	<form action="{{ path('frontend.account.register.save') }}" class="register-form {% if comaxxCheckoutRegisterToggle %}collapse-toggle form-collapse{% endif %}" method="post" data-form-submit-loader="true" data-form-validation="true" data-register-check>
		{{ parent() }}
	</form>

	{% block component_account_register_toggle %}
		{% if comaxxCheckoutRegisterToggle %}
			<button type="button" class="btn btn-secondary btn-block js-toggle-register" data-register-toggle data-toggle="collapse" data-target=".form-collapse" aria-expanded="false" aria-controls="register-form login-advantages">
				{% if controllerAction == "checkoutRegisterPage" %}
					{{ 'comaxx.checkout.register.toggle'|trans|sw_sanitize }}
				{% else %}
					{{ 'comaxx.account.register.toggle'|trans|sw_sanitize }}
				{% endif %}
			</button>
		{% endif %}
	{% endblock %}
{% endblock %}

{% block component_account_register_submit %}
	<div class="register-submit d-grid col-md-6 offset-md-6">
		<button type="submit" class="btn btn-primary btn-lg" disabled>
			{{ 'account.registerSubmit'|trans|sw_sanitize }}
		</button>
	</div>
{% endblock %}
