{% set comaxxShowTeaserMegaMenu = theme_config('comaxx-mega-menu-right-column-category-teaser') %}
{% set comaxxShowTeaserText = theme_config('comaxx-mega-menu-right-column-category-teaser-text') %}
{% set comaxxTeaserTextAlignment = theme_config('comaxx-mega-menu-right-column-teaser-text-alignment') %}
{% set comaxxLinkHoverUnderline = theme_config('comaxx-mega-menu-category-hover-text-decoration') %}
{% set comaxxShowParentLink = theme_config('comaxx-mega-menu-right-column-show-title-link') %}

{% block layout_navbar_comaxx_mega_menu %}
    {% set navigationMaxDepth = 3 %}

    {% if not level %}
        {% set level = 0 %}
    {% endif %}
    {% set activeId = page.header.navigation.active.id %}
    {% set activePath = page.header.navigation.active.path %}

    <div class="comaxx-mega-menu">
        <!-- Left column: Level 0/1 items -->
        <div class="comaxx-mega-menu-left-column">
            {% for treeItem in navigationTree %}
                {% set id = treeItem.category.id %}
                {% set name = treeItem.category.translated.name %}
                {% set link = category_url(treeItem.category) %}

                <div class="comaxx-mega-menu-item comaxx-mega-menu-item-level-{{ level }}"
                        data-comaxx-category-id="{{ id }}"
                        aria-expanded="false">
                    <a class="comaxx-mega-menu-link{% if id == activeId or id in activePath %} comaxx-mega-menu-link-active{% endif %}{% if comaxxLinkHoverUnderline %} text-underline{% endif %}"
                        href="{{ link }}"
                        {% if category_linknewtab(treeItem.category) %}target="_blank"
                            {% if treeItem.category.linkType == 'external' %}rel="noopener noreferrer"{% endif %}
                        {% endif %}
                       title="{{ name }}">
                        <span>{{ name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Right column: Level 2/3 items -->
        {% set firstItem = navigationTree|first %}
        <div class="comaxx-mega-menu-right-column">
            <div class="comaxx-mega-menu-right-column-details is-intro" data-is-intro>
                <div class="comaxx-mega-menu-right-column-intro-content">
                    {% if firstItem and firstItem.category.parentId is not empty %}
                        <div class="comaxx-mega-menu-right-column-category">
                            {% set parentCategory = get_category(firstItem.category.parentId, context) %}
                            <span>{{ parentCategory.translated.name }}</span>
                        </div>

                        {% set categoryAdditionalMedia = [] %}

                        {% for i in 1..3 %}
                            {% set mediaId = attribute(parentCategory.translated.customFields, 'comaxx_category_additional_media_image' ~ i) %}
                            {% set mediaSubtitle = attribute(parentCategory.translated.customFields, 'comaxx_category_additional_media_subtitle' ~ i) %}
                            {% set mediaTitle = attribute(parentCategory.translated.customFields, 'comaxx_category_additional_media_title' ~ i) %}
                            {% set mediaLink = attribute(parentCategory.translated.customFields, 'comaxx_category_additional_media_link' ~ i) %}
                            {% set mediaColor = attribute(parentCategory.translated.customFields, 'comaxx_category_additional_media_color' ~ i) %}

                            {% if mediaId is not empty %}
                                {% set mediaCollection = searchMedia([mediaId], context.context) %}
                                {% set media = mediaCollection.get(mediaId) %}
                                {% if media is not empty %}
                                    {% set categoryAdditionalMedia = categoryAdditionalMedia|merge([{
                                        media: media,
                                        subtitle: mediaSubtitle,
                                        title: mediaTitle,
                                        link: mediaLink,
                                        color: mediaColor
                                    }]) %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if categoryAdditionalMedia is not empty %}
                            <div class="comaxx-mega-menu-right-column-intro-grid">
                                {% for item in categoryAdditionalMedia %}
                                    <div class="comaxx-mega-menu-right-column-intro-info-media">
                                        {% if item.link is not empty %}
                                        <a href="{{ item.link }}">
                                            {% endif %}
                                            <img
                                                    src="{{ item.media.url }}"
                                                    srcset="{{ item.media.getUrl({ 'width': 800 }) }} 800w, {{ item.media.getUrl({ 'width': 1200 }) }} 1200w"
                                                    sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
                                                    alt="{{ item.media.translated.alt }}"
                                            />


                                            {# Check if either subtitle or title exists before adding the div #}
                                            {% if item.subtitle is not empty or item.title is not empty %}
                                                <div class="comaxx-mega-menu-right-column-intro-text-wrapper">
                                                    {% if item.subtitle is not empty %}
                                                        <span class="comaxx-mega-menu-right-column-intro-subtitle"
                                                              style="color: {{ item.color }}">
                                                            {{ item.subtitle }}
                                                        </span>
                                                    {% endif %}
                                                    {% if item.title is not empty %}
                                                        <h3 class="comaxx-mega-menu-right-column-intro-title"
                                                            style="color: {{ item.color }}">
                                                            {{ item.title }}
                                                        </h3>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% if item.link is not empty %}
                                        </a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            {% for treeItem in navigationTree %}
                {% if treeItem.children|length > 0 %}
                    <div class="comaxx-mega-menu-right-column-details"
                         data-comaxx-parent-id="{{ treeItem.category.id }}"
                         hidden>
                        <div class="comaxx-mega-menu-right-column-content">
                            <!-- Upper row: Parent category name -->
                            <div class="comaxx-mega-menu-right-column-category">
                                <span>{{ treeItem.category.translated.name }}</span>
                                {% if comaxxShowParentLink %}
                                    <a href="{{ category_url(treeItem.category) }}">
                                    {{ 'comaxx.megamenu.rightCol.categoryView'|trans|sw_sanitize }} {{ treeItem.category.translated.name }}
                                    </a>
                                {% endif %}
                            </div>

                            <div class="comaxx-mega-menu-right-column-content-inner{% if comaxxShowTeaserMegaMenu and treeItem.category.media is defined %} has-teaser{% endif %}">
                                <!-- Lower row: Subcategories -->
                                <div class="comaxx-mega-menu-right-column-subcategories-wrapper">
                                    {% for level1Item in treeItem.children %}
                                        <div class="comaxx-mega-menu-right-column-group">
                                            <!-- Heading (Level 1) -->
                                            <a class="comaxx-mega-menu-heading"
                                                href="{{ category_url(level1Item.category) }}"
                                                title="{{ level1Item.category.translated.name }}">
                                                {{ level1Item.category.translated.name }}
                                            </a>

                                            <!-- Subcategories (Level 2) -->
                                            {% if level1Item.children|length > 0 %}
                                                <ul class="comaxx-mega-menu-subcategories">
                                                    {% for level2Item in level1Item.children %}
                                                        <li>
                                                            <a class="comaxx-mega-menu-subcategory-link"
                                                               href="{{ category_url(level2Item.category) }}"
                                                               title="{{ level2Item.category.translated.name }}">
                                                                {{ level2Item.category.translated.name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}

                                        </div>
                                    {% endfor %}
                                </div>

                                <!-- Block to render parent data (e.g., media teaser) -->
                                {% if comaxxShowTeaserMegaMenu %}
                                    {% if treeItem.category is defined and treeItem.category.media is defined %}
                                        <div class="comaxx-mega-menu-right-column-teaser">
                                            <div class="comaxx-mega-menu-right-column-teaser-image">
                                                <a href="{{ category_url(treeItem.category) }}">
                                                    <img src="{{ treeItem.category.media.url }}"
                                                            alt="{{ treeItem.category.translated.name }}">
                                                    {% if comaxxShowTeaserText %}
                                                        <div class="comaxx-mega-menu-right-column-teaser-content d-flex justify-content-{{ comaxxTeaserTextAlignment }}">
                                                            <span>{{ treeItem.category.translated.name }}</span>
                                                        </div>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
