{% set comaxxFooterUspWidth = theme_config('comaxx-footer-usp-width') %}
{% set comaxxFooterUspBackgroundColor = theme_config('comaxx-footer-usp-background-color') %}

{% block comaxx_base_footer_usp_container %}

    {# Set class for header width #}
    {% if comaxxFooterUspWidth == '1' %}
        {% set footerUspClasses = 'container-fluid' %}
    {% elseif comaxxFooterUspWidth == '2' %}
        {% set footerUspClasses = 'container-fluid' %}
    {% elseif comaxxFooterUspWidth == '3' %}
        {% set footerUspClasses = 'container' %}
    {% else %}
        {% set headerClasses = '' %}
    {% endif %}

    <div class="footer-usp{% if comaxxFooterUspWidth != '3' %} full-width{% else %} boxed{% endif %}" {% if comaxxFooterUspWidth != '3' %}style="background-color: {{ comaxxFooterUspBackgroundColor }};"{% endif %}>
        <div class="{{ footerUspClasses }}">
            <div class="{% if comaxxFooterUspWidth == '2' %} container{% endif %}">
                <div class="footer-usp-inner">
                    <div class="usp-bar">
                        <div class="usp-bar-item">
                            <span class="material-symbols-{{ comaxxIconStyleClass }}">
                                {{ 'comaxx.header.top-bar.usp1.icon'|trans }}
                            </span>
                            {{ 'comaxx.header.top-bar.usp1.text'|trans }}
                        </div>
                        <div class="usp-bar-item">
                            <span class="material-symbols-{{ comaxxIconStyleClass }}">
                                {{ 'comaxx.header.top-bar.usp2.icon'|trans }}
                            </span>
                            {{ 'comaxx.header.top-bar.usp2.text'|trans }}
                        </div>
                        <div class="usp-bar-item">
                            <span class="material-symbols-{{ comaxxIconStyleClass }}">
                                {{ 'comaxx.header.top-bar.usp3.icon'|trans }}
                            </span>
                            {{ 'comaxx.header.top-bar.usp3.text'|trans }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
