{% set customCustomerServiceCustomFields = context.salesChannel.translated.customFields %}

{% set CustomerServiceTextColor = customCustomerServiceCustomFields.comaxx_customer_service_text_color %}
{% set CustomerServiceTitle = customCustomerServiceCustomFields.comaxx_customer_service_title %}
{% set CustomerServiceBgImage = customCustomerServiceCustomFields.comaxx_customer_service_bg_image %}
{% set CustomerServiceContentCol1 = customCustomerServiceCustomFields.comaxx_customer_service_col_1_content %}
{% set CustomerServiceContentCol2 = customCustomerServiceCustomFields.comaxx_customer_service_col_2_content %}
{% set CustomerServiceContentCol3 = customCustomerServiceCustomFields.comaxx_customer_service_col_3_content %}
{% set CustomerServiceTextContainerBgColor = customCustomerServiceCustomFields.comaxx_customer_service_text_container_bg_color %}
{% set CustomerServiceBgColor = customCustomerServiceCustomFields.comaxx_customer_service_bg_color %}
{% set CustomerServiceBgFixed = customCustomerServiceCustomFields.comaxx_customer_service_bg_attachment_fixed %}

{% set serviceBackgroundMediaId = customCustomerServiceCustomFields.comaxx_customer_service_bg_image %}
{% if serviceBackgroundMediaId is not empty %}
    {% set mediaCollection = searchMedia([serviceBackgroundMediaId], context.context) %}
    {% set serviceBackgroundMedia = mediaCollection.get(serviceBackgroundMediaId) %}
{% else %}
    {% set serviceBackgroundMedia = null %}
{% endif %}

{% block comaxx_layout_footer_customer_service %}
    <div class="section customer-service" style="background-image: url('{{ serviceBackgroundMedia.url }}'); background-color: {{ CustomerServiceBgColor }}; {% if CustomerServiceBgFixed %}background-attachment: fixed;{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% block comaxx_layout_footer_customer_service_row %}
                        <div class="row g-0 customer-service-holder" style="background-color: {{ CustomerServiceTextContainerBgColor }}; color: {{ CustomerServiceTextColor }}">
                            {% if CustomerServiceContentCol1 %}
                                <div class="customer-service-holder-col col-12 col-md-6 col-lg">{{ CustomerServiceContentCol1|raw }}</div>
                            {% endif %}
                            {% if CustomerServiceContentCol2 %}
                                <div class="customer-service-holder-col col-12 col-md-6 col-lg order-md-2 order-lg-2">{{ CustomerServiceContentCol2|raw }}</div>
                            {% endif %}
                            {% if CustomerServiceContentCol3 %}
                                <div class="customer-service-holder-col col-12 col-md-6 col-lg order-md-3 order-lg-3 offset-md-6 offset-lg-0">{{ CustomerServiceContentCol3|raw }}</div>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}