{% set tabTitle = element.config.tabTitle.value %}
{% set tabTitleType = element.config.titleType.value %}
{% set tabItems = element.config.tabItems.value %}

{% block cms_element_tabs %}
    <div class="cms-element-{{ element.type }}" data-tabs>
        <div class="cms-element-{{ element.type }}-container">

            {% block cms_element_tab_title %}
                {% if tabTitle %}
                    <div class="cms-element-{{ element.type }}-title">
                        {% set tag = tabTitleType ?: 'span' %}
                        <{{ tag }}>{{ tabTitle }}</{{ tag }}>
                    </div>
                {% endif %}
            {% endblock %}

            {% block cms_element_tab_headers %}
                <div class="cms-element-{{ element.type }}-headers-wrapper">
                    <div class="cms-element-{{ element.type }}-headers" role="tablist">
                        {% for item in tabItems %}
                            <button
                                class="cms-element-{{ element.type }}-tab-button {% if loop.first %}active{% endif %}"
                                type="button"
                                role="tab"
                                data-tab-trigger
                                data-tab-index="{{ loop.index0 }}"
                                aria-selected="{{ loop.first ? 'true' : 'false' }}"
                                >
                                <div class="fill"></div>
                                <span>{{ item.question }}</span>
                            </button>
                        {% endfor %}
                        <div class="tab-indicator" data-tab-indicator></div>
                    </div>
                </div>
            {% endblock %}

            {% block cms_element_tabs_content %}
                <div class="cms-element-{{ element.type }}-content">
                    {% for item in tabItems %}
                        <div
                            class="cms-element-{{ element.type }}-tab-content{% if loop.first %} active{% endif %}"
                            data-tab-content
                            data-tab-index="{{ loop.index0 }}"
                            role="tabpanel"
                        >
                            {{ item.answer|raw }}
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}

        </div>
    </div>
{% endblock %}