{% set faqTitle = element.config.categoryTitle.value %}
{% set faqTitleType = element.config.titleType.value %}
{% set faqItems = element.config.faqItems.value %}

{% block cms_element_faq %}
    <div class="cms-element-{{ element.type }}" data-faq>
        <div class="cms-element-{{ element.type }}-container">
            
            {% block cms_element_faq_title %}
                {% if faqTitle %}
                    <div class="cms-element-{{ element.type }}-title">
                        {% set tag = faqTitleType ?: 'span' %}
                        <{{ tag }}>{{ faqTitle }}</{{ tag }}>
                    </div>
                {% endif %}
            {% endblock %}
            
            {% block cms_element_faq_accordion %}
                {% if faqItems is not empty %}
                    <div class="cms-element-{{ element.type }}-accordion" data-faq-accordion>
                        {% for item in faqItems %}
                            {% block cms_element_faq_item %}
                                <div class="cms-element-{{ element.type }}-item" data-faq-item>
                                    {% block cms_element_faq_question %}
                                        {% set questionTag = item.questionTitleType ?: 'span' %}
                                        <button class="cms-element-{{ element.type }}-question" type="button" data-faq-question>
                                            <{{ questionTag }} class="cms-element-{{ element.type }}-question-title">{{ item.question }}</{{ questionTag }}>
                                            <span class="icon faq-toggle material-symbols-rounded" data-faq-icon>
                                                keyboard_arrow_down
                                            </span>
                                        </button>
                                    {% endblock %}

                                    {% block cms_element_faq_answer %}
                                        <div class="cms-element-{{ element.type }}-answer" data-faq-answer>
                                            {{ item.answer|raw }}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}