{% if element.config.media.value %}
	{% set ctaMediaId = element.config.media.value %}
	{% set mediaCollection = searchMedia([ctaMediaId], context.context) %}
	{% set ctaMedia = mediaCollection.get(ctaMediaId) %}
{% else %}
	{% set ctaMedia = '' %}
{% endif %}

{% set ctaTitleColor = element.config.ctaTitleColor.value %}
{% set ctaTitleType = element.config.ctaTitleType.value %}
{% set ctaButtonType = element.config.buttonType.value %}
{% set ctaIconShow = element.config.ctaIconShow.value %}
{% set ctaIconBorderColor = element.config.ctaIconBorderColor.value %}
{% set ctaIconBackgroundColor = element.config.ctaIconBackgroundColor.value %}
{% set ctaIconColor = element.config.ctaIconColor.value %}
{% set ctaClickable = element.config.ctaClickable.value %}

{% block cms_element_cta %}
	<div class="cms-element-{{ element.type }}">
		{% if ctaClickable %}
			<a class="cms-element-{{ element.type }}-link" href="{{ element.config.ctaButtonUrl.value }}">
        {% endif %}
			<div class="cms-element-{{ element.type }}-container" style="background-color:{{ element.config.ctaBackgroundColor.value }}">
				{% block cms_element_cta_content %}
					<div class="cms-element-{{ element.type }}-content">
						<div class="cms-element-{{ element.type }}-content-title">
                        {% set tag = ctaTitleType ?: 'span' %}
                            <{{tag}} style="color: {{ ctaTitleColor }}">{{ element.config.ctaTitle.value }}</{{tag}}>
						</div>
						<div class="cms-element-{{ element.type }}-content-intro {% if element.config.ctaButtonUrl.value %}mb-4{% endif %}">
							{{ element.config.ctaDescription.value|raw }}
						</div>
						{% block cms_element_cta_button %}
							{% if element.config.ctaButtonUrl.value and element.config.ctaButtonText.value and not ctaClickable %}
								<a class="btn btn-{{ ctaButtonType }}" href="{{ element.config.ctaButtonUrl.value }}">
									{{ element.config.ctaButtonText.value }}
								</a>
							{% endif %}
						{% endblock %}
					</div>
				{% endblock %}

				{% block cms_element_cta_icon_link %}
					{% if element.config.ctaIconShow.value %}
						<div class="cms-element-{{ element.type }}-action">
							{% if not ctaClickable %}
                            <a class="btn cms-element-{{ element.type }}-action-button"
                            href="{{ element.config.ctaButtonUrl.value }}"
                            style="background-color:{{ ctaIconBackgroundColor }}; border-color:{{ ctaIconBorderColor }}">
                                <span class="material-symbols-rounded" style="color:{{ ctaIconColor }}">
                                    arrow_forward
                                </span>
                            </a>
                        {% else %}
                            <div class="btn cms-element-{{ element.type }}-action-button"
                                style="background-color:{{ ctaIconBackgroundColor }}; border-color:{{ ctaIconBorderColor }}">
                                <span class="material-symbols-rounded" style="color:{{ ctaIconColor }}">
                                    arrow_forward
                                </span>
                            </div>
                        {% endif %}
						</div>
					{% endif %}
				{% endblock %}

				{% block cms_element_cta_image %}
					{% if ctaMedia.url %}
						<div class="cms-element-{{ element.type }}-image">
							<div class="cms-element-{{ element.type }}-image-holder">
								{% sw_thumbnails 'cms-image-thumbnails' with {
                                media: ctaMedia
                            } %}
							</div>
						</div>
					{% endif %}
				{% endblock %}
			</div>
        {% if ctaClickable %}
			</a>
		{% endif %}
	</div>
{% endblock %}
