{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_container %}
	{% if buyable %}
		<div class="buy-widget-container">
			{% block buy_widget_buy_quantity_container %}
				{% if showQuantitySelect %}
					<fieldset
						class="buy-widget-quantity d-flex justify-content-end">
						{# @deprecated tag:v6.7.0 - Unused variable selectQuantityThreshold will be removed without replacement #}
						{% set selectQuantityThreshold = 100 %}

						{% block buy_widget_buy_quantity_input_group %}
							{{ parent() }}
						{% endblock %}
					</fieldset>
				{% endif %}
			{% endblock %}

			{% block buy_widget_buy_redirect_input %}
				{{ parent() }}
			{% endblock %}

			{% block buy_widget_buy_product_buy_info %}
				{{ parent() }}
			{% endblock %}

			{% block buy_widget_product_buy_meta %}
				{{ parent() }}
			{% endblock %}

			{% block buy_widget_buy_button_container %}
				<div class="buy-widget-action{% if showQuantitySelect %} has-quantity{% else %} no-quantity{% endif %}">
					{% block buy_widget_buy_button %}
						<div class="buy-widget-action-inner">
							{% block buy_widget_buy_button_inner %}
								<button class="btn btn-primary btn-buy" title="{{ 'detail.addProduct'|trans|striptags }}" aria-label="{{ 'detail.addProduct'|trans|striptags }}">
									<span class="icon material-symbols-{{ comaxxIconStyleClass }}">
										shopping_cart
									</span>
									<span class="btn-buy-text">
										{{ 'detail.addProduct'|trans|sw_sanitize }}
									</span>
								</button>

								{% if config('core.cart.wishlistEnabled') %}
									{% block buy_widget_wishlist_buy_form %}
										{% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                                            showText: true,
                                            size: 'sm',
                                            productId: product.id
                                        } %}
									{% endblock %}
								{% endif %}
							{% endblock %}
						</div>
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
