{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% set comaxxDetailNamePlacement = theme_config('comaxx-product-name-placement') %}
{% set comaxxDetailShowDescription = theme_config('comaxx-show-short-description') %}
{% set comaxxDetailPricePlacement = theme_config('comaxx-price-placement') %}
{% set comaxxDetailShowDelivery = theme_config('comaxx-show-delivery-information') %}
{% set comaxxDetailShowTax = theme_config('comaxx-show-tax-link') %}
{% set comaxxDetailShowOrderNumber = theme_config('comaxx-show-product-number') %}
{% set comaxxDetailShowUsp = theme_config('comaxx-show-usp-items') %}
{% set comaxxShowBuySticky = theme_config('comaxx-buy-sticky-after-scroll') %}

{% block buy_widget_price %}

	{% if comaxxDetailNamePlacement == 'inside' %}
		{% block buy_widget_detail_name_placement %}
			<h1 class="product-detail-name" itemprop="name">
				{{ page.product.translated.name }}
			</h1>
		{% endblock %}
	{% endif %}

	{% if comaxxDetailPricePlacement == '0' %}
		{% block buy_widget_price_placement %}
			<div class="product-detail-price-container">
				{% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
			</div>
		{% endblock %}
	{% endif %}

	{% if comaxxDetailShowDescription %}
		{% block buy_widget_description_placement %}
			{% if page.product.translated.customFields.comaxx_product_short_description %}
				<div class="product-detail-description">
					{{ page.product.translated.customFields.comaxx_product_short_description|raw }}
				</div>
			{% endif %}
		{% endblock %}
	{% endif %}

	{% if comaxxDetailPricePlacement == '1' %}
		{% block buy_widget_price_one_placement %}
			<div class="product-detail-price-container">
				{% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
			</div>
		{% endblock %}
	{% endif %}
{% endblock %}

{% block buy_widget_delivery_informations %}{% endblock %}

{% block buy_widget_buy_form %}

	{% block buy_widget_price_placement_container %}
		{% if comaxxDetailPricePlacement == '2' %}
			{% block buy_widget_price_placement_buy_form %}
				<div class="product-detail-price-container">
					{% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
				</div>
			{% endblock %}
		{% endif %}
	{% endblock %}

	{{ parent() }}

	{% if comaxxDetailShowDelivery %}
		{% block buy_widget_delivery_placement %}
			<div class="product-detail-delivery-information">
				{% sw_include '@Storefront/storefront/component/delivery-information.html.twig' %}
			</div>
		{% endblock %}
	{% endif %}

	{% if comaxxShowBuySticky %}
		{% block buy_widget_buy_sticky %}
			<div class="buy-widget-sticky" data-buy-sticky hidden>
				<div class="buy-widget-sticky-inner container">
					<div class="buy-widget-sticky-content d-none d-md-flex">
						<div class="buy-widget-sticky-content-title">
							<strong>
								{{ page.product.translated.name }}
							</strong>
						</div>
						<div class="buy-widget-sticky-content-price">
							{% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
						</div>
					</div>
					<div class="buy-widget-sticky-action">
						{% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}
					</div>
				</div>
			</div>
		{% endblock %}
	{% endif %}

{% endblock %}

{% block buy_widget_tax %}
	{% if comaxxDetailShowTax %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block buy_widget_ordernumber_container %}
	{% if comaxxDetailShowOrderNumber %}
		{% block buy_widget_ordernumber_container_show %}
			{% if product.productNumber %}
				<div class="product-detail-ordernumber-container">
					{% block buy_widget_ordernumber_label %}
						<span class="product-detail-ordernumber-label">
							{{ 'detail.productNumberLabel'|trans|sw_sanitize }}
						</span>
					{% endblock %}

					{% block buy_widget_ordernumber %}
						<meta itemprop="productID" content="{{ product.id }}">
						<span class="product-detail-ordernumber" itemprop="sku">
							{{ product.productNumber }}
						</span>
					{% endblock %}
				</div>
			{% endif %}
		{% endblock %}
	{% endif %}

	{% block buy_widget_usp %}
		{% if comaxxDetailShowUsp %}
			{% block buy_widget_usp_inner %}
				<div class="product-detail-usp">
					<div class="product-detail-usp-item">
						<span class="material-symbols-{{ comaxxIconStyleClass }}">
							check
						</span>
						{% block buy_widget_usp_inner_firstText %}
							{{ 'comaxx.header.top-bar.usp1.text'|trans }}
						{% endblock %}
					</div>
					<div class="product-detail-usp-item">
						<span class="material-symbols-{{ comaxxIconStyleClass }}">
							check
						</span>
						{% block buy_widget_usp_inner_secondText %}
							{{ 'comaxx.header.top-bar.usp2.text'|trans }}
						{% endblock %}
					</div>
					<div class="product-detail-usp-item">
						<span class="material-symbols-{{ comaxxIconStyleClass }}">
							check
						</span>
						{% block buy_widget_usp_inner_thirdText %}
							{{ 'comaxx.header.top-bar.usp3.text'|trans }}
						{% endblock %}
					</div>
				</div>
			{% endblock %}
		{% endif %}
	{% endblock %}
{% endblock %}

{% block buy_widget_wishlist %}{% endblock %}
