{% set banner = block.slots.getSlot('banner-featured-links') %}
{% set miniCtaCounter = 0 %}
{% set miniCtaCount = 0 %} {# Initialize counter for mini CTAs #}
{% set miniCtaTypes = [] %} {# Initialize miniCtaTypes as an empty array #}
{% set bannerBackgroundColor = banner.config.bannerBackgroundColor.value %}

{% if banner.config.media.value %}
    {% set bannerMediaId = banner.config.media.value %}
    {% set mediaCollection = searchMedia([bannerMediaId], context.context) %}
    {% set bannerMedia = mediaCollection.get(bannerMediaId) %}
{% else %}
    {% set bannerMedia = '' %}
{% endif %}

{# Count the number of mini CTAs that will be displayed and store their types #}
{% for slot in block.slots %}
    {% if slot.slot starts with 'mini-cta' %}
        {% set miniCtaCount = miniCtaCount + 1 %}
        {% set miniCtaTypes = miniCtaTypes | merge([slot.type]) %} {# Store the type of the mini CTA #}
    {% endif %}
{% endfor %}

{% if sidebarBlocks.elements %}
    {# Define the column class based on the count of mini CTAs when sidebar blocks are active #}
    {% set colClass = '' %}
    {% if miniCtaCount == 1 %}
        {% set colClass = 'col-12' %}
    {% elseif miniCtaCount == 2 %}
        {% set colClass = 'col-12' %}
    {% elseif miniCtaCount == 3 %}
        {% set colClass = 'col-12 col-lg-4' %}
    {% elseif miniCtaCount == 4 %}
        {% set colClass = 'col-12 col-md-6 col-xl-3' %}
    {% else %}
        {% set colClass = 'col' %} {# Default to equal column width for more than 4 #}
    {% endif %}
{% else %}
    {# Define the column class based on the count of mini CTAs when sidebar blocks are not active #}
    {% set colClass = '' %}
    {% if miniCtaCount == 1 %}
        {% set colClass = 'col-12' %}
    {% elseif miniCtaCount == 2 %}
        {% set colClass = 'col-12' %}
    {% elseif miniCtaCount == 3 %}
        {% set colClass = 'col-12 col-md-4' %}
    {% elseif miniCtaCount == 4 %}
        {% set colClass = 'col-12 col-md-4 col-lg-3' %}
    {% else %}
        {% set colClass = 'col' %} {# Default to equal column width for more than 4 #}
    {% endif %}
{% endif %}

{% block block_featured_links %}
    <div class="cms-element-{{ banner.type }}">
        <div class="cms-element-{{ banner.type }}-container" style="background-color: {{ bannerBackgroundColor }}; background-image: url('{{ bannerMedia.url }}');">
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ banner.type ~ ".html.twig" ignore missing %}
            <div class="row">
                {% for slot in block.slots %}
                    {% if slot.slot starts with 'mini-cta' %}
                        {% block block_featured_links_item %}
                            <div class="{{ colClass }}"> {# Use the slot type for class #}
                                {% set element = block.slots.getSlot('mini-cta-' ~ miniCtaCounter) %}
                                <div data-cms-element-id="{{ element.id }}" class="cms-element-{{ slot.type }}-holder">
                                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
                                </div>
                            </div>
                        {% endblock %}
                    {% endif %}
                    {% set miniCtaCounter = miniCtaCounter + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
