{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% set comaxxHeaderType = theme_config('comaxx-header-variant') %}
{% set commaxShowSearch = theme_config('comaxx-header-search-show') %}
{% set comaxxIconStyleClass = theme_config('comaxx-icon-style')|lower %}
{% set comaxxLanguageShow = theme_config('comaxx-header-top-bar-show-language-menu') %}
{% set comaxxCurrenciesShow = theme_config('comaxx-header-top-bar-show-currencies-menu') %}
{% set comaxxLangCurLocation = theme_config('comaxx-header-language-currency-location') %}

{% block layout_top_bar %}

{% endblock %}

{% block layout_header_logo %}
    <div class="col-4 col-lg-auto header-logo-col my-3 m-lg-0">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
    </div>
{% endblock %}

{% block layout_header_search %}
    {% if comaxxHeaderType == '1' %}
        <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
            <div class="row">
                <div class="col-sm-auto d-none d-sm-flex d-lg-none">
                    {% block layout_header_navigation_toggle_tablet %}
                        <div class="nav-main-toggle">
                            {% block layout_header_navigation_toggle_tablet_button %}
                                <button class="btn nav-main-toggle-btn header-actions-btn" type="button" data-off-canvas-menu="true" aria-label="{{ 'general.menuLink'|trans|striptags }}">
                                    {% block layout_header_navigation_toggle_tablet_button_icon %}
                                        <span class="icon material-symbols-{{ comaxxIconStyleClass }}">menu</span>
                                    {% endblock %}
                                </button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
                {% if commaxShowSearch %}
                    <div class="col">
                        {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block layout_header_actions %}
    {% if comaxxHeaderType == '1' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block layout_header_navigation_toggle %}
    <div class="col d-sm-none col-menu">
        <div class="menu-button">
            {% block layout_header_navigation_toggle_button %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block layout_header_search_toggle %}
    {% if commaxShowSearch %}
        <div class="col-auto d-sm-none">
            <div class="search-toggle">
                <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#searchCollapse"
                    aria-expanded="false"
                    aria-controls="searchCollapse"
                    aria-label="{{ 'header.searchButton'|trans|striptags }}">
                    <span class="icon material-symbols-{{ comaxxIconStyleClass }}">search</span>
                </button>
            </div>
        </div>
    {% endif %}
    {% block layout_header_type_1_top_bar_items %}
        {% if comaxxLangCurLocation == 'header-actions' %}
            <div class="col-auto col-language d-none d-lg-flex">
                {% if comaxxLanguageShow %}
                    {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}
                {% endif %}
            </div>

            <div class="col-auto col-currency d-none d-lg-flex">
                {% if comaxxCurrenciesShow %}
                    {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block layout_header_actions_wishlist %}
    <div class="col-auto d-none d-sm-block col-wishlist">
        <div class="header-wishlist">
            <a class="btn header-wishlist-btn header-actions-btn"
                href="{{ path('frontend.wishlist.page') }}"
                title="{{ 'header.wishlist'|trans|striptags }}"
                aria-labelledby="wishlist-basket-live-area">
                {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
            </a>
        </div>
    </div>
{% endblock %}

{% block layout_header_navigation_toggle_button_icon %}
    <span class="icon material-symbols-{{ comaxxIconStyleClass }}">menu</span>
{% endblock %}
