{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% set comaxxShowBuyIcon = theme_config('comaxx-show-buy-button-icon') %}
{% set comaxxBuyIconCode = theme_config('comaxx-buy-button-icon-code') %}

{% block component_product_box_action_buy_button %}
    <div class="d-grid{% if showQuantitySelect %} product-action-quantity{% endif %}">
        {% block component_product_box_action_buy_button_quantity %}
            {% if showQuantitySelect %}
                <div class="quantity-wrapper">
                    <select name="lineItems[{{ id }}][quantity]" id="quantity-{{ id }}" class="form-control form-select quantity-select">
                        {% for i in 1..product.availableStock %}
                            <option value="{{ i }}" {% if i == product.minPurchase %}selected{% endif %}>
                                {{ i }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <input type="hidden"
                    name="lineItems[{{ id }}][quantity]"
                    value="{{ product.minPurchase }}">
            {% endif %}
        {% endblock %}

        {% block component_product_box_action_buy_button_detail %}
            <button class="btn btn-buy{% if comaxxShowBuyIcon %} has-icon{% endif %}"
                    title="{{ 'listing.boxAddProduct'|trans|striptags }}">
                    {% if comaxxShowBuyIcon %}
                        {% block component_product_box_action_buy_button_icon %}
                            <span class="material-symbols-{{ comaxxIconStyleClass }} btn-buy-icon">
                                {{ comaxxBuyIconCode | default('shopping_cart') }}
                            </span>
                        {% endblock %}
                    {% endif %}
                {% block page_product_detail_product_buy_button_label %}
                    {% if comaxxShowBuyIcon != '2' %} 
                        {{ 'listing.boxAddProduct'|trans|sw_sanitize }}
                    {% endif %}
                {% endblock %}
            </button>
        {% endblock %}
    </div>
{% endblock %}