{% set productBannerBackgroundColor = customCategoryFields.comaxx_category_banner_product_background_color|default('transparent') %}
{% set productBannerTextColor = customCategoryFields.comaxx_category_banner_product_text_color|default('#0b0b0b') %}
{% set productBannerTitle = customCategoryFields.comaxx_category_banner_product_title %}
{% set productBannerContent = customCategoryFields.comaxx_category_banner_product_content %}
{% set productBannerButton = customCategoryFields.comaxx_category_banner_product_button_show %}
{% set productBannerLink = customCategoryFields.comaxx_category_banner_product_href_text %}
{% set productBannerButtonText = customCategoryFields.comaxx_category_banner_product_button_text %}
{% set productBannerVerticalAlignment = customCategoryFields.comaxx_category_banner_product_vertical_alignment|default('flex-end') %}
{% set productBannerTextAlignment = customCategoryFields.comaxx_category_banner_product_text_alignment|default('left') %}
{% set productBannerOuterpadding = customCategoryFields.comaxx_category_banner_product_outer_padding|default('1rem') %}
{% set productBannerInnerpadding = customCategoryFields.comaxx_category_banner_product_inner_padding|default('1rem') %}
{% set productBannerCustomClass = customCategoryFields.comaxx_category_banner_product_custom_class|default('') %}

{% set productBannerMediaId = customCategoryFields.comaxx_category_banner_product_image %}

{% if productBannerMediaId is not empty %}
	{% set mediaCollection = searchMedia([productBannerMediaId], context.context) %}
	{% set productBannerMedia = mediaCollection.get(productBannerMediaId) %}
{% else %}
	{% set productBannerMedia = null %}
{% endif %}

{% block product_box_banner %}
	<div class="card product-box product-box-banner {{ productBannerCustomClass }}">
		{% block product_box_banner_container %}
			{% if not productBannerButton %}
				<a class="banner-link" href="{{ productBannerLink }}"></a>
			{% endif %}
			<div class="card-body" style="padding: {{ productBannerOuterpadding }}">
				<div class="banner-holder" style="background-image: url('{{ productBannerMedia.url }}'); {% if not productBannerMedia.url %}background: {{ productBannerBackgroundColor }};{% endif %} justify-content: {{ productBannerVerticalAlignment }}; padding: {{ productBannerInnerpadding }}">
					{% block product_box_banner_inner %}
						<div class="banner-content" style="text-align: {{ productBannerTextAlignment }};">
							{% if productBannerTitle %}
								{% block product_box_banner_content_title %}
									<h3 style="color: {{ productBannerTextColor }}">{{ productBannerTitle }}</h3>
								{% endblock %}
							{% endif %}
							{% if productBannerContent %}
								{% block product_box_banner_content_content %}
									<div style="color: {{ productBannerTextColor }}" class="banner-content-inner">{{ productBannerContent|raw }}</div>
								{% endblock %}
							{% endif %}
							{% if productBannerButton %}
								{% block product_box_banner_content_button %}
									<a class="btn btn-primary mt-4" href="{{ productBannerLink }}" style="background-color: transparent; color: {{ productBannerTextColor }}; border-color: {{ productBannerTextColor }};">
										{{ productBannerButtonText }}
									</a>
								{% endblock %}
							{% endif %}
						</div>
					{% endblock %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
